extends layout

block content
  h1= title
  p Welcome to #{title}
  p You can send a request (get, post) to /dump and it will render the request
  p This tool is implemented with the json-stringify-safe package 
